{% extends 'base.html' %}


  {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <h2>望鄉溫室<h2>
    </nav>

  {% endblock navbar %}
     

    {% block content %}

    <div class="container mt-4">
            <div class="form-group shadow p-3 mb-5 bg-white rounded mt-5 pt-5">
                <h3>登入</h3>
                <form action="{% url 'greenapp:login' %}" class="align-item-center" method = 'post'>
                {% csrf_token %}
                    <div class="align-content-center">
                        <input type="text" class="form-control" id="username" placeholder="賬號" name="username" required><br>
                        <label for="username"></label>
                        <input type="password" class="form-control" id="password" placeholder="密碼" name="password" required><br>
                               
                        <input type="submit"name="submit" id="submit" class="btn btn-success " value="login"><br>
                        

                    </div>    
                </form>
            </div>
        </div>
    {% endblock content %}
        
        
  