<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='static/jQuery.js'></script>
    <script src='static/echarts.js'></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script type = "text/JavaScript">
         
            function AutoRefresh( t ) {
               setTimeout("location.reload(true);", t);
            }
        {% comment %} onload = "JavaScript:AutoRefresh(15000);" {% endcomment %}
      </script> 
  </head>


  <body >
   <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <a class="navbar-brand " href="camera">Green House</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                {% block navbar %}
                
                    <li class="nav-item">
                        <a class="nav-link text-light" href="camera">Camera</i></a>
                    </li>   
                     <li class="nav-item">
                        <a class="nav-link text-light" href="row1">Row1</i></a>
                    </li>   
                     <li class="nav-item">
                        <a class="nav-link text-light" href="row2">Row2</i></a>
                    </li> 
                     <li class="nav-item">
                        <a class="nav-link text-light" href="temperature">Temperature</i></a>
                    </li> 
                     <li class="nav-item">
                        <a class="nav-link text-light" href="airdust">Air Dust Particals</i></a>
                    </li> 
                       <0li class="nav-item">
                        <a class="nav-link text-light" href="controlmotor">Control Motor</i></a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link text-light" href="history">History</i></a>
                    </li>  
                  
                    <li class="nav-item">
                        <a class="nav-link text-light" href="logout">Logout</i></a>
                    </li>  
                    {% endblock navbar %}    
                </ul>
            </div>
        </nav>
        
        
      <div id="show" >
        {% block content %}
        {% endblock content %}

    
      </div>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>